SECRET_KEY=your_secret_key_here
DEBUG=True
DATABASE_URL=postgres://user:password@hostname:5432/dbname
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
RENDER_EXTERNAL_HOSTNAME=your_render_hostname
